body {
  background-color: slategray;
  margin: 2px;
  font-family: "Jaro", sans-serif;
  margin-bottom: 100px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

iframe {
  color: black;

}

header {
  border-bottom: solid 2px rgb(89, 70, 165);
  padding: 20px;
  font-size: 32px;
  color: rgb(89, 70, 165);
}

.chamada {
  background: rgb(55, 90, 46);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

img {
    height: 150px;
}

.categoria-videos{
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid rgb(92, 24, 92);
}

h2 {
  color: rgb(89, 70, 165);
}